* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../html/images/background.png);
    background-size: 250px;
    font-size: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.header {
    height: 56px;
    background-color: #fff;
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.9);
}
.nav-link {
    float: left;
}
.nav-link ul li {
    float: left;
    margin-left: 45px;
    line-height: 56px;
}
.nav-link ul .home {
    width: 40px;
    height: 40px;
    margin: 8px 0 8px 35px;
    padding-left: 0px;
    background-image: url(../html/images/home.png);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: 55px,55px ;
}
.nav-link ul  .home:hover {
    background-size: 66px,66px ;
    transition: all .5s ease 0s ;
}
.nav-link ul  .home a {
    display: block;
    width: 40px;
    height: 40px;
}
.nav-link a:hover {
    color: skyblue;
    transition: all 0.3s ease 0s ;
}
.nav-search-box {
    float: left;
}
.nav-search-box .search {
    float: left;
    margin: 12px 25px 12px 25px ;
}
.nav-search-box .search input {
    float: left;
    width: 180px;
    height: 31px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 0 0 0 15px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.075);
}
.nav-search-box .search-btn {
    float: left;
}
.nav-search-box .search button {
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-left: 0;
    padding: 7px;
    outline: none;
    cursor: pointer;
}
.nav-search-box .search button:hover {
    color: rgb(0, 174, 255);
    transition: all .2s ease 0s ;
}
.nav-user-box {
    float: left;
    line-height: 56px;
}
.nav-user-box div {
    float: left;
    margin: 0 0 0 45px;
}
.nav-btn {
    float: left;
}
.nav-btn button {
    display: block;
    margin: 10px 0;
    margin-left: 25px;
    border: 0;
    width: 100px;
    height: 36px;
    color: #fff;
    background-color: #FB7299;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    
}