* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../html/images/background.png);
    background-size: 358px;
    background-attachment: fixed;
    font-size: 16px;
    /* background-repeat: no-repeat; */
}
.header {
    width: auto;
    height: 56px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: rgba(135, 207, 235, 0.123);
}
.nav {
    display: inline-block;
    height: 36px;
    padding: 10px 0 ;
    width: 434px;
    /* vertical-align: middle; */
}
.nav :first-child {
    display: inline-block;
    height: 36px;
    width: 36px;
    padding-left: 0px;
    margin: 0px 0 0px 20px;
    background-image: url(../html/images/home.png);
    background-repeat: no-repeat ;
    /* 不平铺  */
    background-position: center;
    background-size: 55px,55px ;
}
.nav :first-child:hover {
    background-size: 66px,66px ;
    transition: all .5s ease 0s ;
}
a {
    color:black;
    text-decoration: none;
}
.nav a {
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    /* 把此元素放置在父元素的中部 */
    display: inline-block;
    /* margin: 0 15px; */
    height: 36px;
    width: 120px;
}
.header a:hover {
    font-size: 22px;
    color: skyblue;
    transition: all .5s ease 0s ;
}

.search-box,
.search,
.search form {
    display: inline-block;
    vertical-align: middle;
    /* height: 56px; */
    /* text-align: center; */
    /* line-height: 56px; */
}
.search-box {
    position: relative;
    left: 0px;
    /* 左右移动 */
}
.search {
    padding: 0 10px;
}
.search input {
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 8px 0 8px 15px;
    width: 180px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.075);
}
.search-btn {
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.164);
    cursor: pointer;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: -6px;
}
.search-btn button {
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-left: 0;

}
.search-btn button:hover {
    color: rgb(0, 174, 255);
    transition: all .2s ease 0s ;
}