body {
    background-color: bisque;
}
h1 {
    color: chocolate;
}
p {
    color: coral;
}
#post {
    color: forestgreen;
}
.table {
    cursor: pointer;
    width: 2em;
}
/* .table:link {
    
}
.table:visited {

} */
.table:hover {
    color: royalblue;
}
.table:active {
    color: blue;
}
